location            = "North Europe"
resource_group_name = "dev-eu-north-rg"
public_key_path     = "C:/Users/MD. SAIFUDDIN/Documents/key/test_demo.pub"  #Terraform reads this and installs it on the VM ( /home/azureuser/.ssh/authorized_keys).